audio
{
    align:center;
}
.tiaojieshijian
{
    color:yellow;
    background:black;
}
* {
    margin:0;
}
div
{
    display:block;
    text-align:right;
    position:relative;
    right:300px;
}
div #word
{
    right:0px;
    height:150px;
    width:808px;
}
div .ctrl
{
    width:200px;
}
body
{
    font: 14px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background: #333;
    color: #fff;
}
.activated
{
    color:dodgerblue;
}
.icon{
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;
@include square(24px);
@include transition(0.3s);
@include user-select(none);
&:hover, &.enable{
              opacity: 1;
          }
&:active{
     opacity: 0.3;
 }
}

#background {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#player {
    width: 500px;
    height: 130px;
    padding: 25px;
    margin: 50px auto 30px;
}
.control {
    margin-top: 10px;
    height: 25px;
}
.fastforward
{
    background-image:url(fastforward.png);
    width:24px;
    height:24px;
}
.rewind
{
    background-image:url(rewind.png);
    width:24px;
    height:24px;
}
.play
{
    background-image:url(play.png);
    width:24px;
    height:24px;
}
.mute
{
    background-image: url(volume.png);
    width:24px;
    height:24px;
}
.left
{
    float:left;
}
.right
{
    float:right;
}